/* Toggle Switch */
.toggle-switch {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 24px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cbd5e1;
    /* slate-300 */
    transition: .4s;
    border-radius: 24px;
}

.toggle-label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-input:checked+.toggle-label {
    background-color: var(--status-success);
}

.toggle-input:checked+.toggle-label:before {
    transform: translateX(20px);
}

.toggle-input:disabled+.toggle-label {
    opacity: 0.6;
    cursor: not-allowed;
}